# Web Server & API
fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
requests
httpx

# AI & Agents
groq
langchain
langchain-community

# RAG & Vector DB
chromadb
sentence-transformers
numpy
torch --index-url https://download.pytorch.org/whl/cpu

# Utilities
watchfiles
python-multipart